<footer class="rodape">
<div class="wrap rodape-in">
<div class="rodape-marca">
<a class="marca" href="{{ site.baseurl }}/">
<img src="{{ site.baseurl }}/dist/icons/icon-128.png" width="30" height="30" alt="">
<span>SEI Pro</span>
</a>
<p>Extensão gratuita e de código aberto para o Sistema Eletrônico de Informações.</p>
</div>
<nav aria-label="Rodapé">
<a href="{{ site.baseurl }}/#funcoes">Funcionalidades</a>
<a href="{{ site.baseurl }}/pages/HISTORICO.html">Histórico de versões</a>
<a href="https://github.com/SEI-Pro/sei-pro">Código-fonte</a>
<a href="https://sugestoes.seipro.app">Sugestões</a>
<a href="https://github.com/SEI-Pro/sei-pro/issues">Reportar erro</a>
<a href="{{ site.baseurl }}/PRIVACY_POLICY.html">Política de Privacidade</a>
<a href="http://eepurl.com/hjHh45">Novidades por e-mail</a>
<a href="https://participen.processoeletronico.gov.br/c/modulos-comunidade/sei-pro/39">ParticiPEN</a>
<span>Licença AGPL-3.0</span>
</nav>
</div>
</footer>
